
# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:Tavaqu
ErrorDocument 400 /400.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE Tavaqu:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:XyJyDy
ErrorDocument 500 /500.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE XyJyDy:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:GuJeHe
ErrorDocument 401 /401.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE GuJeHe:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:seLequ
ErrorDocument 403 /403.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE seLequ:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:WyVaMa
ErrorDocument 404 /404.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE WyVaMa:ERRORPAGEID

AuthName "Codekamxv16"
AuthUserFile "/home/arayaper/.htpasswds/public_html/Codekamxv16/passwd"
